In [ ]:
#Passo 1 - importar base de dados e corrigir problemas dela
import pandas as pd

table = pd.read_csv("clientes.csv")
display(table)

In [ ]:
#Passo 2 - preparar dados para a inteligência artificial aprender

display(table.info())

#obs.: SEMPRE para IA, todas as colunas tem que ser numéricas, portanto as colunas profissao, mix_credito e comportamento_pagamento precisam de tratamento (processo de LabelEncoder)

# Exemplo de transformação pelo LabelEncoder
# Engenheiro - 1
# Mecânico - 2
# Cientista - 3
# Advogado - 4
# Ator - 5

from sklearn.preprocessing import LabelEncoder

#Criação do codificador
codificador = LabelEncoder()

#Uso do codificador

#profissao
table['profissao'] = codificador.fit_transform(table['profissao'])

#mix_credito
table['mix_credito'] = codificador.fit_transform(table['mix_credito'])

#comportamnento_pagamento
table['comportamento_pagamento'] = codificador.fit_transform(table['comportamento_pagamento'])

display(table.info())

In [ ]:
# Continuação Passo 2 - Preparação dos dados

#1 etapa - estabelecer a coluna da base de dados que se quer prever, nesse caso score_credito - será chamada de y.
y = table['score_credito']
#2 etapa - estabelecer as colunas da base de dados que irá usar para realizar a previsão - será chamada de x. (todas menos score_credito e id do cliente)
x = table.drop(columns = ['score_credito', 'id_cliente'])

#Precisa-se separar a base de dados e dividir ela em dados de treino e dados de teste
from sklearn.model_selection import train_test_split

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.3)

In [ ]:
#Passo 3 - criar modelos de IA - modelo de score de crédito (treinamento de inteligência artificial - aprendizado de máquina)

# 1a Etapa - criar modelos:

# Tipos de modelos:
# Arvore de Decisao - RandomForest
# Modelo do KNN - nearest neighbors - Kneighbors

#importar os dois modelos de IA
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

#criar as IAS:

modelo_arvoredecisao = RandomForestClassifier()
modelo_knn = KNeighborsClassifier()

# 2a Etapa - Treinar os modelos

modelo_arvoredecisao.fit(x_treino, y_treino)
modelo_knn.fit(x_treino, y_treino)

# 3a Etapa - Testar os modelos

previsao_arvoredecisao = modelo_arvoredecisao.predict(x_teste)
previsao_knn = modelo_knn.predict(x_teste.to_numpy())

In [ ]:
#Passo 4 - comparar e escolher o melhor modelo (comparar a previsão com o y_teste)

from sklearn.metrics import accuracy_score

display(accuracy_score(y_teste, previsao_arvoredecisao))
display(accuracy_score(y_teste, previsao_knn))

#É possivel inferir que o melhor modelo é a árvore de decisão, pq a acurácia dele é 83%, pq o do knn é 74%.

In [18]:
#Passo 5 - Usar IA para fazer novas previsões

#Etapa 1 - importar nova base de clientes

tabela_novos_clientes = pd.read_csv('novos_clientes.csv')
display(tabela_novos_clientes)


#Etapa 2 - codificar os novos clientes

#profissao
tabela_novos_clientes['profissao'] = codificador.fit_transform(tabela_novos_clientes['profissao'])

#mix_credito
tabela_novos_clientes['mix_credito'] = codificador.fit_transform(tabela_novos_clientes['mix_credito'])

#comportamnento_pagamento
tabela_novos_clientes['comportamento_pagamento'] = codificador.fit_transform(tabela_novos_clientes['comportamento_pagamento'])

display(tabela_novos_clientes)

#Etapa 3 - fazer as previsões

previsoes = modelo_arvoredecisao.predict(tabela_novos_clientes)
print(previsoes)

,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,...,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,1,31.0,empresario,19300.340,6.0,7.0,17.0,5.0,52.0,19.0,...,29.934186,218.0,44.50951,baixo_gasto_pagamento_baixo,312.487689,1,1,0,0,0
1,4,32.0,advogado,12600.445,5.0,5.0,10.0,3.0,25.0,18.0,...,28.819407,12.0,0.00000,baixo_gasto_pagamento_medio,300.994163,0,0,0,0,1
2,2,48.0,empresario,20787.690,8.0,6.0,14.0,7.0,24.0,14.0,...,34.235853,215.0,0.00000,baixo_gasto_pagamento_alto,345.081577,0,1,0,1,0

,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,...,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,1,31.0,1,19300.340,6.0,7.0,17.0,5.0,52.0,19.0,...,29.934186,218.0,44.50951,1,312.487689,1,1,0,0,0
1,4,32.0,0,12600.445,5.0,5.0,10.0,3.0,25.0,18.0,...,28.819407,12.0,0.00000,2,300.994163,0,0,0,0,1
2,2,48.0,1,20787.690,8.0,6.0,14.0,7.0,24.0,14.0,...,34.235853,215.0,0.00000,0,345.081577,0,1,0,1,0

['Poor' 'Good' 'Good']